body {

  background-image: url('https://img.freepik.com/fotos-premium/fondo-curva-color-degradado-blanco-gris-abstracto-espacio-copia_304422-135.jpg?w=2000');
  background-repeat: no-repeat;
  background-size:cover;
}

.btn {
    background-color: rgb(247, 109, 116);
    width: 200px;
    height: 50px;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}

.btn2 {
    background-color: rgb(221, 45, 53);
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}

.btn3 {
    background-color: rgb(247, 109, 116);
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}
.btn4 {
    background-color: rgb(247, 109, 116);
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}
.btn5 {
    background-color: rgb(247, 109, 116);
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}

.window {
    width: 80%;
    height: 700px;
    margin-top: -250px;
    margin-left: 15%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    align-items: flex-start;
    justify-content: center;
  }

  .window2 {
    width: 500px;
    height: 70px;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 62%;
    background-color: rgb(247, 109, 116);
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: Arial, sans-serif;

  }
  .logo-container {
    text-align: left; 
    text-align: left; 
    margin-top: 0%;
    margin-bottom: -2%;
    padding-top: 0%;
  }
  
  .logo {
    width: 200px; 
    height: auto; /* Altura automática para mantener la proporción */
    margin-top: 0%;
    position: absolute;
  }
  .window-title {
    text-align: center;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .participant-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .participant-table th,
  .participant-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .participant-table th {
    background-color: #f2f2f2;
  }

  .tournament-list {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  .tournament-list h2 {
    text-align: center;
  }
  
  .tournament-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .tournament-list li {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #e9e9e9;
  }
  
  .tournament-list li:hover {
    background-color: #dcdcdc;
  }
  
  .tournament-list li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .tournament-list li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  
  