 h2 {
      text-align: CENTER;
      margin-bottom: 20px;
      color: #333;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-group label {
      display: BLOCK;
      margin-bottom: 5px;
      font-weight: BOLD;
      color: #333;
    }
    
    .form-group input {
      width: 96%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .form-group button {
      width: 100%;
      padding: 8px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    body {
      font-family: Arial, sans-serif;
      background-image: url('https://img.freepik.com/fotos-premium/fondo-curva-color-degradado-blanco-gris-abstracto-espacio-copia_304422-135.jpg?w=2000');
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
      padding: 0;
      transition: 1.5s ease;
    }
    
    .container {
      width: 300px;
      margin: 100px AUTO;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }
    .imagen{
      text-align: center;
    }

    .Register {
      display: flex;
      align-items: center;
      justify-content: center;
    }
